<fieldset class="d-none" id="tab051">
    <div class="bg-light">
        <table class="table table-sm table-bordered table-warning">
            <thead>

                <tr style="text-align: center;">
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Serial Number</b></th>
                    <th colspan="2" scope="colgroup"><b>Chainage</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Length(m)</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Name of Union<br>/Pourasava</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Union HQ</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Action</b></th>
                </tr>
                <tr>
                    <th scope="col"><b>From</b></th>
                    <th scope="col"><b>To</b></th>
                </tr>
            </thead>
            <tbody id="unionwisebreakup">
            </tbody>
        </table>
    </div>
</fieldset>
