<fieldset class="d-none" id="tab061">
    <div class="bg-light">
        <table class="table table-sm table-bordered table-hover table-warning" style="max-width: 90%;">
            <thead>

                <tr style="text-align: center;">
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Seg. Sl No</b></th>
                    <th colspan="2" scope="colgroup"><b>Chainage</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Name of Constituency</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Action</b></th>
                </tr>
                <tr>
                    <th rowspan="1" scope="col"><b>From</b></th>
                    <th rowspan="1" scope="col"><b>To</b></th>
                </tr>
            </thead>
            <tbody id="constituencybreakup">
            </tbody>
        </table>
    </div>
</fieldset>
