<div class="card-body">
    <div class="table-responsive-xxl">
        <table class="display  nowrap" id="roadInventoryDataTable">
            <thead id="roadInventory">
                <tr class="table-info">
                    <th scope="col">Road Code</th>
                    <th scope="col">Road Sl No</th>
                    <th scope="col">Road Id</th>
                    <th scope="col">Road Type</th>
                    <th scope="col">Road Name</th>
                    <th scope="col">Road Length</th>
                    <th scope="col">Crestwidth</th>
                    <th scope="col">EMBKHEIGHT</th>
                    @*<th scope="col">Is This Road Important</th>*@
                    <th scope="col">IRI</th>
                    <th scope="col">Deflection</th>
                    <th scope="col">AADT</th>
                    <th scope="col">CVD</th>
                    <th scope="col">Segment Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            @*<tbody id="roadInventory2">
                </tbody>*@
        </table>
    </div>
</div>
