@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<button type="button" class="btn btn-primary btnModal" data-bs-toggle="modal" data-bs-target="#kt_modal_1">
    Modal tabs
</button>
<div class="container-fluid">
    <div class="card card-custom`">
        <div class="card-body">
            <div class="modal fade" tabindex="-1" id="kt_modal_1">
                <div class="modal-dialog modal-lg " style="min-width:fit-content;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Road Attribute Informations</h3>

                            <!--begin::Close-->
                            <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" data-bs-dismiss="modal" aria-label="Close">
                                <span class="svg-icon svg-icon-1"></span>
                            </div>
                            <!--end::Close-->
                        </div>

                        <div class="modal-body ">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th style="border: none;"><b>District:</b></th>
                                        <th rowspan="2" style="border: none;"><b>Upazila:</b></th>
                                        <th rowspan="2" style="border: none;"><b>Road Type:</b></th>
                                        <th style="border: none;"><b>Road ID:</b></th>

                                    </tr>
                                    <tr>
                                        <th style="border: none;"><b>Road Name:</b></th>
                                        <th style="border: none;"><b>Road Length:</b></th>
                                    </tr>
                                </thead>
                                <tbody id="roadattributeinfo">
                                </tbody>
                            </table>

                            <ul class="nav nav-tabs">
                                <li class="tabs active" id="tab01">
                                    <button class="btn btn-primary-outlined">General</button>
                                </li>
                                <li class="tabs active" id="tab02">
                                    <button class="btn btn-primary-outlined">Segment Wise Condition</button>
                                </li>
                                <li class="tabs" id="tab03">
                                    <button class="btn btn-primary-outlined text-muted">Construction</button>
                                </li>
                                <li class="tabs" id="tab04">
                                    <button class="btn btn-primary-outlined text-muted">Maintenance</button>
                                </li>
                                <li class="tabs" id="tab05">
                                    <button class="btn btn-primary-outlined text-muted">Union-wise Breakup</button>
                                </li>
                                <li class="tabs" id="tab06">
                                    <button class="btn btn-primary-outlined text-muted">Constituency-wise Breakup</button>
                                </li>
                                <li class="tabs" id="tab07">
                                    <button class="btn btn-primary-outlined text-muted">GC/RM Condition</button>
                                </li>
                                <li class="tabs" id="tab08">
                                    <button class="btn btn-primary-outlined text-muted">Socio Connectivity</button>
                                </li>
                                <li class="tabs" id="tab09">
                                    <button class="btn btn-primary-outlined text-muted">Tree</button>
                                </li>
                            </ul>
                            <br>
                            <hr>
                            <button class="btn btn-success" id="addRow" style="margin-bottom: 5px;">Add New Record</button>
                            <fieldset class="d-block" id="tab011">
                                <div class="bg-light">
                                    <table class="table table-bordered table-striped " id="roadGenInfo">
                                        <thead class="text-center  table-warning" id="roadGenInfoHead">
                                            <tr>
                                                <th><b>Segment Si No</b></th>
                                                <th colspan="2"><b>Chainage</b></th>
                                                <th><b>Segment Length</b></th>
                                                <th><b>Surface Type</b></th>
                                                <th colspan="3"><b>Average Width</b></th>
                                                <th colspan="2"><b>Condition</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Action</b></th>
                                            </tr>
                                            <tr>
                                                <th></th>
                                                <th><b>From:</b></th>
                                                <th><b>To:</b></th>
                                                <th></th>
                                                <th></th>
                                                <th><b>Chainage</b></th>
                                                <th><b>Shoulder(left)</b></th>
                                                <th><b>Shoulder(Right)</b></th>
                                                <th><b>Shoulder</b></th>
                                                <th><b>Slope</b></th>
                                            </tr>
                                        </thead>
                                        <tbody id="roadGenInfoRow">
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset class="d-none" id="tab021">
                                <div class="bg-light">
                                    <table class="text-center table-responsive table-warning table-bordered">
                                        <thead>
                                            <tr>
                                                <th rowspan="3"><b>Segment Serial No</b></th>
                                                <th colspan="2"><b>Chainage</b></th>
                                                <th rowspan="3"><b>Segment Length <br />( m )</b></th>
                                                <th rowspan="3"><b>Segment Surface Type</b></th>
                                                <th colspan="13"><b>Rapid Road Condition Survey (Carriageway)</b></th>
                                                <th colspan="6"><b>Rapid Road Condition Survey (Road Side)</b></th>
                                                <th rowspan="3"><b>Remarks</b></th>
                                            </tr>
                                            <tr>
                                                <th rowspan="2"><b>From</b></th>
                                                <th rowspan="2"><b>To</b></th>
                                                <th colspan="2"><b>Pothole Area (sqm)</b></th>
                                                <th colspan="2"><b>Crack Area (sqm)</b></th>
                                                <th colspan="2"><b>Depression Area (sqm)</b></th>
                                                <th colspan="2"><b>Edge Failure Area </b></th>
                                                <th colspan="2"><b>Ravelled Area (sqm)</b></th>
                                                <th><b>Depth of Rutting</b></th>
                                                <th colspan="2"><b>Rutting Area</b> </th>
                                                <th colspan="2"><b>H/Shoulder, Loss of Material (cum)</b></th>
                                                <th colspan="2"><b>Low Earth Shoulder (cum)</b></th>
                                                <th colspan="2"><b>Protection Work (m)</b></th>
                                            </tr>
                                            <tr>
                                                <th><b>Low</b></th>
                                                <th><b>High</b></th>
                                                <th><b>Low</b></th>
                                                <th><b>High</b></th>
                                                <th><b>Low</b></th>
                                                <th><b>High</b></th>
                                                <th><b>Low</b></th>
                                                <th><b>High</b></th>
                                                <th><b>Low</b></th>
                                                <th><b>High</b></th>
                                                <th><b>mm</b></th>
                                                <th><b>Low</b></th>
                                                <th><b>High</b></th>
                                                <th><b>Low</b></th>
                                                <th><b>High</b></th>
                                                <th><b>Low</b></th>
                                                <th><b>High</b></th>
                                                <th><b>Low</b></th>
                                                <th><b>High</b></th>
                                            </tr>
                                        </thead>

                                        <tbody id="segmentwiseCondition">
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>

                            <fieldset class="d-none" id="tab031">
                                <div class="bg-light">
                                    <table class="table table-sm table-bordered table-warning">
                                        <thead>

                                            <tr style="text-align: center;">
                                                <th colspan="1" rowspan="2" scope="colgroup"> <b>Segment Serial<br> Number</b></th>
                                                <th colspan="2" rowspan="1" scope="colgroup"><b>Chainage</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Length(m)</b></th>
                                                <th colspan="5" rowspan="1" scope="colgroup"><b>Construction Operation</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Remarks</b></th>


                                            </tr>
                                            <tr>
                                                <th scope="col"><b>From</b></th>
                                                <th scope="col"><b>To</b></th>
                                                <th scope="col"><b>Year</b></th>
                                                <th scope="col"><b>Surface Type</b></th>
                                                <th scope="col" style="width: 10%;"><b>Const. Type</b></th>
                                                <th scope="col"><b>Cost(Lac Taka)</b></th>
                                                <th scope="col"><b>Source of Fund</b></th>

                                            </tr>
                                        </thead>
                                        <tbody id="construction">
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset class="d-none" id="tab041">
                                <div class="bg-light">
                                    <table class="table table-sm table-bordered table-warning">
                                        <thead>

                                            <tr style="text-align: center;">
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Serial<br> Number</b></th>
                                                <th colspan="2" rowspan="1" scope="colgroup"><b>Chainage</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Length(m)</b></th>
                                                <th colspan="5" rowspan="1" scope="colgroup"><b>Last Maintenance Operation(s)</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Remarks</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Action</b></th>
                                            </tr>
                                            <tr>
                                                <th scope="col"><b>From</b></th>
                                                <th scope="col"><b>To</b></th>
                                                <th scope="col"><b>Year</b></th>
                                                <th scope="col"><b>Maint. Type</b></th>
                                                <th scope="col"><b>Top Surface<br> Thikness(mm)</b></th>
                                                <th scope="col"><b>Cost(Lac Taka)</b></th>
                                                <th scope="col"><b>Source of Fund</b></th>
                                            </tr>
                                        </thead>
                                        <tbody id="maintainance">
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset class="d-none" id="tab051">
                                <div class="bg-light">
                                    <table class="table table-sm table-bordered table-warning">
                                        <thead>

                                            <tr style="text-align: center;">
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Serial Number</b></th>
                                                <th colspan="2" scope="colgroup"><b>Chainage</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Length(m)</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Name of Union<br>/Pourasava</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Union HQ</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Action</b></th>
                                            </tr>
                                            <tr>
                                                <th scope="col"><b>From</b></th>
                                                <th scope="col"><b>To</b></th>
                                            </tr>
                                        </thead>
                                        <tbody id="unionwisebreakup">
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset class="d-none" id="tab061">
                                <div class="bg-light">
                                    <table class="table table-sm table-bordered table-hover table-warning" style="max-width: 90%;">
                                        <thead>

                                            <tr style="text-align: center;">
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Seg. Sl No</b></th>
                                                <th colspan="2" scope="colgroup"><b>Chainage</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Name of Constituency</b></th>
                                                <th colspan="1" rowspan="2" scope="colgroup"><b>Action</b></th>
                                            </tr>
                                            <tr>
                                                <th rowspan="1" scope="col"><b>From</b></th>
                                                <th rowspan="1" scope="col"><b>To</b></th>
                                            </tr>
                                        </thead>
                                        <tbody id="constituencybreakup">
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset class="d-none" id="tab071">
                                <div class="bg-light">
                                    <table class="table table-sm table-bordered table-warning" style="max-width: 80%;">
                                        <thead>
                                            <tr>
                                                <th colspan="1" scope="col" style="width: 15%;"><b>Name of Growth Center/<br> Rural Market</b></th>
                                                <th colspan="1" scope="col" style="width: 15%;"><b>Type</b></th>
                                                <th colspan="1" scope="col" style="width: 15%;"><b>Situated at<br>(Chainage)</b></th>
                                                <th colspan="1" scope="col" style="width: 15%;"><b>Action</b></th>
                                            </tr>
                                        </thead>
                                        <tbody id="GcRmCondition">
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset class="d-none" id="tab081">
                                <div class="bg-light">
                                    <table class="table table-sm table-bordered table-warning" style="max-width: 80%">
                                        <thead>
                                            <tr>
                                                <th colspan="1" scope="col" style="width: 30%;"><b>Social Infrastructure<br> Type</b></th>
                                                <th colspan="1" scope="col"><b>Social Infrastructure<br> Name</b></th>
                                                <th colspan="1" scope="col"><b>Situated at<br>(Chainage)</b></th>
                                                <th colspan="1" scope="col"><b>Action</b></th>
                                            </tr>
                                        </thead>
                                        <tbody id="socioConnectivity">
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                            <fieldset class="d-none" id="tab091">
                                <div class="bg-light">
                                    <table class="table table-sm table-bordered table-warning">
                                        <thead>
                                            <tr>
                                                <th colspan="1" scope="col"><b>Type of Tree</b></th>
                                                <th colspan="1" scope="col"><b>No of Tree<br>(Left Side)</b></th>
                                                <th colspan="1" scope="col"><b>No of Tree<br>(Right Side)</b></th>
                                                <th colspan="1" scope="col"><b>No of Tree(total)</b></th>
                                                <th colspan="1" scope="col"><b>Year of<br> Plantation</b></th>
                                                <th colspan="1" scop="col"><b>Action</b></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="content " id="kt_content">
        <!--end::Toolbar-->
        <div class="post" id="kt_post">
            <div id="kt_content_container" class="container-xxl">
                <!--begin::Card-->
                <div class="card card-custom">
                    <div class="card-header  border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">
                                Road Inventory Basic Information
                                <span class="d-block text-muted pt-2 font-size-sm">Sorting & pagination remote datasource</span>
                            </h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive-xxl">
                            <table class="display  nowrap" id="roadInventoryDataTable">
                                <thead id="roadInventory">
                                    <tr class="table-info">
                                        <th scope="col">Road Code</th>
                                        <th scope="col">Road Sl No</th>
                                        <th scope="col">Road Id</th>
                                        <th scope="col">Road Type</th>
                                        <th scope="col">Road Name</th>
                                        <th scope="col">Road Length</th>
                                        <th scope="col">Crestwidth</th>
                                        <th scope="col">EMBKHEIGHT</th>
                                        @*<th scope="col">Is This Road Important</th>*@
                                        <th scope="col">IRI</th>
                                        <th scope="col">Deflection</th>
                                        <th scope="col">AADT</th>
                                        <th scope="col">CVD</th>
                                        <th scope="col">Segment Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                @*<tbody id="roadInventory2">
                                    </tbody>*@
                            </table>
                        </div>
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>
        $(document).ready(function () {
            //modal_tab_Funtion_js_begin
            function modalProcess() {
                //alert("in Process");
                //$(document).ready(function() {
                $(".tabs").click(function () {
                    $(".tabs").removeClass("active");
                    $(".tabs button").addClass("text-muted");
                    $(this).children("button").removeClass("text-muted");
                    $(this).addClass("active");
                    current_fs = $(".active");
                    next_fs = $(this).attr('id');
                    next_fs = "#" + next_fs + "1";
                    //$("fieldset").removeClass("show");
                    //$(next_fs).addClass("show");
                    $("fieldset").removeClass("d-block")
                    $("fieldset").addClass("d-none")
                    $(next_fs).removeClass("d-none")
                    $(next_fs).addClass("d-block")
                    //$("fieldset").hide();
                    //$(next_fs).show();

                });
                //});
            };

            $(".btnModal").click(function () {
                $("#kt_modal_1").modal("show");
                modalProcess();

            });

            //modal_tab_funtion_js_end

            var apiBaseUrl = "http://dev.betsbd.com:3015/rsdmsbe/";

            $("#roadInventoryDataTable").DataTable({
                lengthMenu: [
                    [20, 25, 50, -1],
                    [25, 50, 100, 200],
                ],
                "ajax":
                {
                    "url": apiBaseUrl + 'api/RoadInventory',
                    "type": "GET",
                    dataSrc: ''
                },

                columns: [
                    { data: 'ROADCODE' },
                    { data: 'ROADSLNO' },
                    { data: 'ROADID' },
                    { data: 'ROADTYPEINFO' },
                    { data: 'ROADNAME' },
                    { data: 'ROADLENGTH' },
                    { data: 'CRESTWIDTH' },
                    { data: 'EMBKHEIGHT' },
                    { data: 'IRI' },
                    { data: 'DEFLECTION' },
                    { data: 'AADT_MT' },
                    { data: 'CVD' },
                    { data: 'SEGMENTSTATUS' },
                    { data: null }
                ],

                columnDefs: [{
                    targets: -1, // Target the last column
                    data: null, // Use the whole row object as the data source
                    render: function (data, type, row) {



                        // Create the button element with a class
                        return '<button class="btn btn-success opacity-75 btnModal " type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">' +
                            '<i class="fa fa-ellipsis-v"></i>' +
                            '</button>' +
                            '<ul class="dropdown dropdown-menu "aria-labelledby="dropdownMenuButton1" style="background-color: #9ad6b7;">' +
                            '<li><button class="dropdown-item " id="roadAttribute" data-bs-toggle="modal" data-bs-target="#kt_modal_1" >Road Attributes</a></li>' +
                            '<li><a class="dropdown-item" href="#">Traffic Survey</a></li>' +
                            '<li><a class="dropdown-item" href="#">Condition Survey</a></li>' +
                            '<li><a class="dropdown-item" href="#">Pavement Inventory</a></li>' +
                            '<li><a class="dropdown-item" href="#">Structure Inventory</a></li>' +
                            '<li><a class="dropdown-item" href="#">Photo Gallery</a></li>' +
                            '</ul>';



                    }
                }],
                processing: true,
                paging: true,
                ordering: false,
                info: false,
                scrollY: 700,
                scrollX: true,
                responsive: true,


            });


            // Function to handle cell click event
            function handleCellClick() {
                // Get the row containing the clicked button
                var row = $(this).closest('tr');

                // Get the value of the third column in the row
                var roadID = row.find('td:eq(2)').text();




                // Do something with the cell value
                //console.log('Road Id:', roadID);

                $.ajax({
                    url: apiBaseUrl + 'api/RoadGeneralInfo/' + roadID,
                    method: 'GET',
                    success: function (data) {

                        $('#roadGenInfoRow').empty();
                        console.log(data);
                        for (var i = 0; i <= data.length; i++) {
                            var x = data[i].TOCHAIN;
                            var y = data[i].FROMCHAIN;
                            var FROMCHAIN = "";
                            var result = x - y;
                            $("#roadGenInfoRow").append(
                                '<tr class=" text-center table-success">' +
                                '<td>' + data[i].RDSECSLNO + '</td>' +
                                '<td>' + data[i].FROMCHAIN + '</td>' +
                                '<td>' + data[i].TOCHAIN + '</td>' +

                                '<td>' + result + '</td>' +

                                '<td>' +
                                '<select>' +
                                '<option>' + data[i].SURFTYPE + '</option>' +
                                '</select >' +
                                '</td >' +

                                '<td>' + data[i].AVGCARGW + '</td>' +

                                '<td>' + data[i].AVGSHOULW_L + '</td>' +
                                '<td>' + data[i].AVGSHOULW_R + '</td>' +
                                '<td>' +
                                '<select>' +
                                '<option>' + data[i].SHOULCON + '</option>' +
                                '</select >' +
                                '</td >' +
                                '<td>' +
                                '<select>' +
                                '<option>' + data[i].SLOPECON + '</option>' +
                                '</select >' +
                                '</td >' +
                                '<td>' +
                                '<button class="btn btn-danger opacity-75 btnModal " type="button" id="Update">' +
                                '<i class="fas fa-edit"></i>' +
                                '<i class="fa fa-trash" aria-hidden="true"></i>' +
                                '</button>' +
                                '</td>' +

                                '</tr>'
                            );

                        }
                    },
                    error: function (xhr, status, error) {
                        // Handle the error
                        console.log(error);
                    }
                });

            }

            // Event delegation for table cells
            $('#roadInventoryDataTable').on('click', '#roadAttribute', handleCellClick);
        });

    </script>
}



