<ul class="nav nav-tabs">
    <li class="tabs active" id="tab01">
        <button class="btn btn-primary-outlined">General</button>
    </li>
    <li class="tabs active" id="tab02">
        <button class="btn btn-primary-outlined">Segment Wise Condition</button>
    </li>
    <li class="tabs" id="tab03">
        <button class="btn btn-primary-outlined text-muted">Construction</button>
    </li>
    <li class="tabs" id="tab04">
        <button class="btn btn-primary-outlined text-muted">Maintenance</button>
    </li>
    <li class="tabs" id="tab05">
        <button class="btn btn-primary-outlined text-muted">Union-wise Breakup</button>
    </li>
    <li class="tabs" id="tab06">
        <button class="btn btn-primary-outlined text-muted">Constituency-wise Breakup</button>
    </li>
    <li class="tabs" id="tab07">
        <button class="btn btn-primary-outlined text-muted">GC/RM Condition</button>
    </li>
    <li class="tabs" id="tab08">
        <button class="btn btn-primary-outlined text-muted">Socio Connectivity</button>
    </li>
    <li class="tabs" id="tab09">
        <button class="btn btn-primary-outlined text-muted">Tree</button>
    </li>
</ul>
