<table class="table table-sm" id="roadattributeinfos">
    <thead>
        <tr>
            <th style="border: none;"><b>District:</b></th>
            <th rowspan="2" style="border: none;"><b>Upazila:</b></th>
            <th rowspan="2" style="border: none;"><b>Road Type:</b></th>
            <th style="border: none;"><b>Road ID:</b></th>

        </tr>
        <tr>
            <th style="border: none;"><b>Road Name:</b></th>
            <th style="border: none;"><b>Road Length:</b></th>
        </tr>
    </thead>
    <tbody id="roadattributeinfo1">
    </tbody>
</table>
