<table class="table table-sm" id="roadattributeinfos">
    <thead>
        <tr>
            <th style="border: none;"><b>District:Dhaka</b></th>
            <th rowspan="2" style="border: none;"><b>Upazila:Savar</b></th>
            <th rowspan="2" style="border: none;"><b>Road Type:Upazila Road</b></th>
            <th style="border: none;"><b>Road ID:356222001</b></th>

        </tr>
        <tr>
            <th style="border: none;"><b>Road Name:Baniajuri Bus Stand-Zabra Bazar Road</b></th>
            <th style="border: none;"><b>Road Length:7100Km</b></th>
        </tr>
    </thead>
    <tbody id="roadattributeinfo1">
    </tbody>
</table>
