<fieldset class="d-none" id="tab031">
    <div class="bg-light">
        <table class="table table-sm table-bordered table-warning">
            <thead>

                <tr style="text-align: center;">
                    <th colspan="1" rowspan="2" scope="colgroup"> <b>Segment Serial<br> Number</b></th>
                    <th colspan="2" rowspan="1" scope="colgroup"><b>Chainage</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Length(m)</b></th>
                    <th colspan="5" rowspan="1" scope="colgroup"><b>Construction Operation</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Remarks</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Action</b></th>


                </tr>
                <tr>
                    <th scope="col"><b>From</b></th>
                    <th scope="col"><b>To</b></th>
                    <th scope="col"><b>Year</b></th>
                    <th scope="col"><b>Surface Type</b></th>
                    <th scope="col" style="width: 10%;"><b>Const. Type</b></th>
                    <th scope="col"><b>Cost(Lac Taka)</b></th>
                    <th scope="col"><b>Source of Fund</b></th>

                </tr>
            </thead>
            <tbody id="construction">
                <tr class="table-danger">
                    <td>01</td>
                    <td>0</td>
                    <td>500</td>
                    <td>500</td>
                    <td>1990-91</td>
                    <td>
                        <select >
                            <option>BC</option>
                            <option>BFS</option>
                            <option>CC</option>
                            <option>Earthen</option>
                            <option>HBB</option>
                            <option>RCC</option>
                            <option>WBM</option>
                        </select>
                    </td>
                    <td>
                        <select >
                            <option >Construction Of Road</option>
                            <option >Construction Of Road Protection Work</option>
                            <option >Re-Construction Of Road</option>
                        </select>
                    </td>
                    <td>75.000</td>
                    <td>
                        <select >
                            <option >Others </option>
                            <option >Parbatta zilla Parishad</option>
                            <option>PBGCMR  </option>
                            <option >PDA-RIMP</option>
                            <option >PEDP-2</option>
                            <option >Petro Bangla</option>
                        </select>
                    </td>
                    <td></td>
                    <td>
                        <button class="btn btn-success opacity-75 btnModal " type="button" id="Update">

                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger opacity-75 btnModal " type="button" id="Delete">

                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
