@*<fieldset class="d-none" id="tab021">
    <div class="bg-light">
        <table class="text-center table-responsive table-warning table-bordered">
            <thead>
                <tr>
                    <th rowspan="3"><b>Segment Serial No</b></th>
                    <th colspan="2"><b>Chainage</b></th>
                    <th rowspan="3"><b>Segment Length <br />( m )</b></th>
                    <th rowspan="3"><b>Segment Surface Type</b></th>
                    <th colspan="13"><b>Rapid Road Condition Survey (Carriageway)</b></th>
                    <th colspan="6"><b>Rapid Road Condition Survey (Road Side)</b></th>
                    <th rowspan="3"><b>Remarks</b></th>
                </tr>
                <tr>
                    <th rowspan="2"><b>From</b></th>
                    <th rowspan="2"><b>To</b></th>
                    <th colspan="2"><b>Pothole Area (sqm)</b></th>
                    <th colspan="2"><b>Crack Area (sqm)</b></th>
                    <th colspan="2"><b>Depression Area (sqm)</b></th>
                    <th colspan="2"><b>Edge Failure Area </b></th>
                    <th colspan="2"><b>Ravelled Area (sqm)</b></th>
                    <th><b>Depth of Rutting</b></th>
                    <th colspan="2"><b>Rutting Area</b> </th>
                    <th colspan="2"><b>H/Shoulder, Loss of Material (cum)</b></th>
                    <th colspan="2"><b>Low Earth Shoulder (cum)</b></th>
                    <th colspan="2"><b>Protection Work (m)</b></th>
                </tr>
                <tr>
                    <th><b>Low</b></th>
                    <th><b>High</b></th>
                    <th><b>Low</b></th>
                    <th><b>High</b></th>
                    <th><b>Low</b></th>
                    <th><b>High</b></th>
                    <th><b>Low</b></th>
                    <th><b>High</b></th>
                    <th><b>Low</b></th>
                    <th><b>High</b></th>
                    <th><b>mm</b></th>
                    <th><b>Low</b></th>
                    <th><b>High</b></th>
                    <th><b>Low</b></th>
                    <th><b>High</b></th>
                    <th><b>Low</b></th>
                    <th><b>High</b></th>
                    <th><b>Low</b></th>
                    <th><b>High</b></th>
                </tr>
            </thead>

            <tbody id="segmentwiseCondition">
            </tbody>
        </table>
    </div>
</fieldset>*@
