<fieldset class="d-none" id="tab071">
    <div class="bg-light">
        <table class="table table-sm table-bordered table-warning" style="max-width: 80%;">
            <thead>
                <tr>
                    <th colspan="1" scope="col" style="width: 15%;"><b>Name of Growth Center/<br> Rural Market</b></th>
                    <th colspan="1" scope="col" style="width: 15%;"><b>Type</b></th>
                    <th colspan="1" scope="col" style="width: 15%;"><b>Situated at<br>(Chainage)</b></th>
                    <th colspan="1" scope="col" style="width: 15%;"><b>Action</b></th>
                </tr>
            </thead>
            <tbody id="GcRmCondition">
                <tr class="  table-danger">
                    <td>
                        <select >
                            <option >DOULATPUR HAT</option>
                            <option >GHIOR HAT</option>
                            <option >JABRA HAT</option>
                            <option>KALTA HAT</option>
                            <option >SATURIA HAT</option>
                            <option>Amtali Hat</option>
                            <option >Boinna Hat</option>
                        </select>
                    </td>
                    <td>Rural Market</td>
                    <td>0</td>
                    <td>
                         <button class="btn btn-success opacity-75 btnModal " type="button" id="Update">

                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger opacity-75 btnModal " type="button" id="Delete">

                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
