<fieldset class="d-none" id="tab081">
    <div class="bg-light">
        <table class="table table-sm table-bordered table-warning" style="max-width: 80%">
            <thead>
                <tr>
                    <th colspan="1" scope="col" style="width: 30%;"><b>Social Infrastructure<br> Type</b></th>
                    <th colspan="1" scope="col"><b>Social Infrastructure<br> Name</b></th>
                    <th colspan="1" scope="col"><b>Situated at<br>(Chainage)</b></th>
                    <th colspan="1" scope="col"><b>Action</b></th>
                </tr>
            </thead>
            <tbody id="socioConnectivity">
                <tr class="table-danger">
                    <td>
                        <select >
                            <option >College</option>
                            <option >Secondary School</option>
                            <option >Primary School</option>
                            <option>Upzilla Health Complex</option>
                            <option>Secondary School</option>

                        </select>
                    </td>
                    <td>Baniajuri Union College</td>
                    <td>422</td>
                    <td>
                        <button class="btn btn-success opacity-75 btnModal " type="button" id="Update">

                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-danger opacity-75 btnModal " type="button" id="Delete">

                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</fieldset>
