<fieldset class="d-none" id="tab041">
    <div class="bg-light">
        <table class="table table-sm table-bordered table-warning">
            <thead>

                <tr style="text-align: center;">
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Serial<br> Number</b></th>
                    <th colspan="2" rowspan="1" scope="colgroup"><b>Chainage</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Segment Length(m)</b></th>
                    <th colspan="5" rowspan="1" scope="colgroup"><b>Last Maintenance Operation(s)</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Remarks</b></th>
                    <th colspan="1" rowspan="2" scope="colgroup"><b>Action</b></th>
                </tr>
                <tr>
                    <th scope="col"><b>From</b></th>
                    <th scope="col"><b>To</b></th>
                    <th scope="col"><b>Year</b></th>
                    <th scope="col"><b>Maint. Type</b></th>
                    <th scope="col"><b>Top Surface<br> Thikness(mm)</b></th>
                    <th scope="col"><b>Cost(Lac Taka)</b></th>
                    <th scope="col"><b>Source of Fund</b></th>
                </tr>
            </thead>
            <tbody id="maintainance">
            </tbody>
        </table>
    </div>
</fieldset>
